body {
	color: #666;
	margin: 0;
}

a { color: #468cbc; }
a:hover { color: #222; }

.block { display: block !important; }
.inline-block { display: inline-block !important; }
.inline { display: inline !important; }

.audible {
	overflow: hidden;
	position: absolute; top: auto; left: -10000px;
	width: 1px; height: 1px;
}


.logo-image {
	max-width: 230px;
}

.page-header {
	background-color: #EEE;
	padding: 1em;
}

.page-footer {
	background-color: #222;
	padding: 2em 1em 20em;
}