@charset "UTF-8";

// Mixins
@import "color";

// Variables;
@import "variables";

// Reset
@import "normalize";

// components
@import "global";
@import "typography";
@import "buttons";
@import "waves";
@import "collapsible";

/* SMACSS Base */
html, body {
    font-size: 100%;
    height: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #666;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    font-family: "UniversLTW01-59UltraCn", arial, sans-serif;
    text-transform: uppercase;
}

h1 { color: #21c3b9; }

h5, h6 { font-weight: bold; }

h2, h3, h4, h5, h6 { color: #002f47; margin: 0 0 0.25em; }
h2 a, h3 a, h4 a, h5 a, h6 a { color: #002f47; }
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #80b9e0; }

p { line-height: 20px; }

a { color: #468cbc; }
a:hover { color: #222; }

img, img.wp-post-image[style] { max-width: 100%; }

.category-title, .category-body {
  margin-right: 24px;
  margin-left: 24px;
}

.contributors-list {
  margin: 0 24px;

  > li {
    line-height: 3;
  }
}


/* SMACSS Layout */
@import "grid";

/* Nicolas Gallagher's micro clearfix */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }


/* SMACSS State */
.block { display: block !important; }
.inline-block { display: inline-block !important; }
.inline { display: inline !important; }

.audible {
    overflow: hidden;
    position: absolute; top: auto; left: -10000px;
    width: 1px; height: 1px;
}

.list-reset {
    list-style-type: none;
    margin: 0; padding: 0;
}

.list-inline > li {
    display: inline-block;
    list-style-type: none;
    margin-right: 0.5em;
}

.bg-white { background-color: #FFF; }

.m0 { margin: 0; }
.mt0 { margin-top: 0; }
.mt1 { margin-top: 1em; }
.mt2 { margin-top: 2em; }
.mt3 { margin-top: 3em; }
.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: 1em; }
.mb2 { margin-bottom: 2em; }
.mb3 { margin-bottom: 3em; }

.logo-image {
    max-width: 215px;
}

.page-header {
    background-color: #fff;
    padding: 1em;
}

.page-footer, footer.page-footer {
    background-color: #333;
    margin-top: 0;
    padding: 2em 1em 4em;
}

.navigation-container {
  min-height: 50px;
}

.nav-container {
  background-color: #333;
  min-height: 50px;
  position: relative;
  transition: background 0.2s ease;
  z-index: 2;
}

.nav-menu {
  margin: 0;
}

.nav-menu-item {
  display: inline-block;
  position: relative;
}

.nav-link {
  background-color: #333;
  color: #fff;
  display: block;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  padding: 0 14px;
  text-transform: uppercase;

  &:hover {
    background-color: #fff;
    color: #333;
  }
}
