# IDE/Editors
.idea/*
*.iml
tmp/*

# Bower
bower_components/

# Node.js
node_modules/*
npm-debug.log

# Generated output
build/*
!build/index.html
coverage/
_site
report/
**/*.min.js

# Other
.DS_Store
config.codekit
**/*.suo
