---
title: RnD by Sigma by Sigma IT Consulting
pageUrl: https://sigmaitc.github.io/rnd-by-sigma/
---

<!doctype html>
<html class="document no-js" lang="sv">
    {% include head.html title=page.title pageUrl=page.pageUrl %}

    <body class="page">
        {% include header.html %}
        {% include primary-navigation.html %}

        <main id="main-content" class="page-body" role="main">
            <section class="page-section">
                <h1 class="heading heading--xl">RnD by Sigma</h1>

                <section>
                    {% include description-intro.html %}
                    {% include description-levels.html levels=site.data.levels-rnd %}
                    {% include description-remarks.html %}
                </section>

                <section>
                    {% include categories.html categories=site.data.categories-rnd skills=site.data.skills-rnd %}
                </section>

                <section>
                    {% include contributors.html %}
                </section>
            </section>
        </main>

        {% include footer.html %}

        <script type="text/javascript" src="./assets/app.js"></script>
    </body>
</html>
