<h2 class="heading heading--l" style="margin-top: 1em;">Introduction</h2>
<p>It is usually a daunting task to know what to learn next, especially if you are beginning your journey. This guide aims to help you find relevant competence areas to focus on and suggest what to prioritize first to speed up the learning process.</p>

<h2 class="heading heading--l">Contribute</h2>
<p>If you have any opinions or suggestions then feel free to create an issue and make sure to tag it with <strong>improvement</strong> for any new suggestions or <strong>invalid</strong> if any existing information is incorrect.</p>
