<nav class="primary-navigation">
    <ul class="nav-menu">
        <li class="nav-menu-item"><a class="link nav-link" href="front-end-by-sigma.html">Front End</a></li>
        <li class="nav-menu-item"><a class="link nav-link" href="java-by-sigma.html">Java</a></li>
        <li class="nav-menu-item"><a class="link nav-link" href="net-by-sigma.html">.NET</a></li>
        <li class="nav-menu-item"><a class="link nav-link" href="rnd-by-sigma.html">RnD</a></li>
        <li class="nav-menu-item"><a class="link nav-link" href="qa-by-sigma.html">QA</a></li>
    </ul>
</nav>
