<nav class="primary-navigation">
    <ul class="nav-menu">
        <li class="nav-menu-item"><a class="link nav-link" href="front-end-by-sigma">Front End</a></li>
        <li class="nav-menu-item"><a class="link nav-link" href="java-by-sigma">Java</a></li>
        <li class="nav-menu-item"><a class="link nav-link" href="net-by-sigma">.NET</a></li>
        <li class="nav-menu-item"><a class="link nav-link" href="rnd-by-sigma">RnD</a></li>
        <li class="nav-menu-item"><a class="link nav-link" href="qt-by-sigma">QT</a></li>
        <li class="nav-menu-item"><a class="link nav-link" href="iam-by-sigma">IAM</a></li>
    </ul>
</nav>
