<h2 class="heading heading--l">Remarks</h2>
<p></p>
<table class="table">
    <tbody>
        <tr>
            <td><span class="badge badge--blue">cold</span></td>
            <td>Is becoming obsolete, but is still commonly used. Should be avoided for new projects.</td>
        </tr>
        <tr>
            <td><span class="badge badge--red">hot</span></td>
            <td>Is either very new with great potential or widely adopted with an active community.</td>
        </tr>
        <tr>
            <td><span class="badge badge--green">recommended</span></td>
            <td>Is very usefull in most situations.</td>
        </tr>
        <tr>
            <td><span class="badge badge--green">required</span></td>
            <td>Necessary for any successful development project.</td>
        </tr>
    </tbody>
</table>
