/**
 * Link
 */
.link {

    /* Remove the gray background color from active links in IE 10. */
    background-color: transparent;
    color: var(--blue);
    text-decoration: none;

    /* Improve readability of focused elements when they are also in an active/hover state. */
    &:active, &:hover {
        outline: 0;
    }

    &:hover, &:focus {
        color: var(--black);
        text-decoration: underline;
    }

    &--inline-block {
        display: inline-block;
    }
}
