/**
 * Skill Section
 */
.skill-section {

    &__header {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }

    &__logo {
        align-self: center;
        margin: 0.6em 0.6em 0.6em 0;
    }

    &__heading {
        align-self: center;
        text-transform: none;
    }

    &__badges {
        align-self: center;
        flex-basis: 100%;
        margin-left: 0.6em;

        @media (min-width: 460px) {
            display: inline-block;
            flex-basis: auto;
            margin-left: 1.2em;
        }
    }

    &__level-badge {
        align-self: center;
        margin: 0.6em 0 0.6em auto;

        @media (min-width: 460px) {
            order: 1;
        }
    }
}
