.collapsible {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin: 0.5rem 0 1;
}

.collapsible-header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    display: block;
    line-height: 3rem;
    min-height: 3rem;
}

.collapsible-body {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: none;
    padding: 1.2rem 0;
}

/* Popout Collapsible */

.collapsible.popout {
    border: none;
    box-shadow: none;
}

.collapsible.popout > .collapsible__list-item {
    margin: 0;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collapsible.popout > .collapsible__list-item.active {
    margin: 0;
}
