/**
 * Skill Section
 */
.skill-section__header {
    align-items: baseline;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.skill-section__logo {
    align-self: center;
    margin: 0.6em 0.6em 0.6em 0;
}

.skill-section__heading {
    align-self: center;
    text-transform: none;
}

.skill-section__badges {
    align-self: center;
    flex-basis: 100%;
    margin-left: 0.6em;
}

.skill-section__level-badge {
    align-self: center;
    margin: 0.6em 0 0.6em auto;
}

@media (min-width: 460px) {
    .skill-section__badges {
        display: inline-block;
        flex-basis: auto;
        margin-left: 1.2em;
    }
}

@media (min-width: 460px) {
    .skill-section__level-badge {
        order: 1;
    }
}
